apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: java-quarkus-169805619
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/hacdev/cmo0msdo-tenant/test-app-169805619/java-quarkus-169805619@sha256:355b470fcdd3d94435cb3551d8877698a796751ab40013093d3f06db2bdb7240
        name: my-java-quarkus
        resources: {}
status: {}
