apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: java-quarkus-169805619
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: java-quarkus-169805619
    app.kubernetes.io/part-of: test-app-169805619
  name: java-quarkus-169805619
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: java-quarkus-169805619
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: java-quarkus-169805619
    spec:
      containers:
      - image: quay.io/hacdev/cmo0msdo-tenant/test-app-169805619/java-quarkus-169805619@sha256:355b470fcdd3d94435cb3551d8877698a796751ab40013093d3f06db2bdb7240
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
